torch>=2.9.0
torchvision>=0.18.0
numpy
pandas
scikit-learn
pillow
opencv-python-headless
streamlit
matplotlib
requests
pydeck==0.9.1
Pygments==2.19.1
referencing==0.36.2
rich==13.9.4
rpds-py==0.22.3
six==1.17.0
smmap==5.0.2
sympy==1.13.1
tenacity==9.0.0
toml==0.10.2
tornado==6.4.2
typing_extensions==4.12.2
watchdog==6.0.0
